# Environment variables declared in this file are NOT automatically loaded by Prisma.
# Please add `import "dotenv/config";` to your `prisma.config.ts` file, or use the Prisma CLI with Bun
# to load environment variables from .env files: https://pris.ly/prisma-config-env-vars.

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

# for pg
# DATABASE_URL="postgresql://postgres:postgres123@localhost:5432/assignment4?schema=public"
DATABASE_URL="postgresql://neondb_owner:npg_FzxQK2oXY8Wh@ep-snowy-sound-a8b4yss7-pooler.eastus2.azure.neon.tech/neondb?sslmode=require&channel_binding=require"
PORT=5000

# for better-auth
BETTER_AUTH_SECRET=nqxsx0j0CjbJXqF2LC2qpmpcbLTeOH7D
BETTER_AUTH_URL=http://localhost:5000

# gor gmail
GMAIL_USER=hasibul.hossain.dev@gmail.com
GMAIL_PASS=mbcsxxrlmbvaipab

DEFAULT_ADMIN_EMAIL="admin@main.com"
DEFAULT_ADMIN_PASS="admin123"